/*Default Setting*/
*{
    margin:0;
    padding:0;
}
body, html{
    width: 100%;
    height:100%;
    position: relative;

    box-sizing: border-box;

}
html{
  zoom:80%;
}
@font-face {
    font-family:font_english;
    src: url("../../extensions/fonts/font_english/Digitalt.otf");
}
@font-face {
    font-family:font_hebrew;
    src: url("../../extensions/fonts/font_hebrew/YehudaCLM-bold.ttf");
}
@font-face {
    font-family:font_code;
    src: url("../../extensions/fonts/font_code/CODE_Light.ttf");
}
@font-face {
    font-family:font_pangolin;
    src: url("../../extensions/fonts/font_pangolin/Pangolin-Regular.ttf");
}
body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar, textarea::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;;
}

body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));

}
a { text-decoration:none; }
li {list-style: none;}

header.mainHeader {
    width:100%;
    height:auto;
    padding:0px;
    margin: 0;
	  background-color:whitesmoke;
    background: url('../../sourceimages/wallpapers/colors_02.png');
    background-size: cover;
    background-position: center;
	  box-shadow:0px 2px 2px whitesmoke;
}
div.logo { /*Need to change*/
  	font-size:82px;
    direction: ltr;
    display: inline-block;
    font-family: font_english;
    margin-right: 20px;
    margin-top: 0px;
  	letter-spacing:0.5px;
    color: #fff;
    text-shadow: 0 0 4px #000;
}
h1.logo span.logo-E { color:#52BE80; }
h1.logo span.logo-C { color:#16A085; }
h1.logo span.logo-H { color:#A569BD; }
h1.logo span.logo-O { color:#F4D03F; }
h1.logo span.logo-P { color:#E74C3C; }
h1.logo span.logo-PP { color:#CD6155; }
h1.logo i{
    font-size: 55px;
}
h1.logo > span::selection {
    background-color:transparent;
    color: none;
}
nav.main-nav {
    width:100%;
    background-color: #00BFFF;
    border-bottom: 2px solid #ccf;
    box-shadow: 0px -3px 4px #38cbff;
}
nav.main-nav ul.nav-bar-items-top{
    padding: 3px 7px;
}
nav.main-nav ul.nav-bar-items-bottom{
    display: block;
    padding: 10px;
    background-color: #32b0db;
}
nav.main-nav ul.nav-bar-items-bottom li{
    display: inline;
    margin-right: 25px;
    font-size: 22px;
    color: #000;
}
li.bar-items {
	display:inline-block;
	margin-right:40px;
	font-size:28px;
	font-family: font_hebrew;
  font-weight: 700;
  color: #000;
	border-bottom:2px solid transparent;
	transition: border 1s;
}
li.bar-items input.searchBox-input {
    width: 190px;
    padding: 10px 15px 10px 33px;
    box-sizing: border-box;
    font-size: 22px;
    background-color: white;
    font:22px font_hebrew, font_english;
    background-image: url('http://localhost:8080/PROJECT-ECHO/resources/sourceimages/icons/search-icon.png');
    background-position: 2%;
    background-size: 25px;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-radius: 4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
li.bar-items input.searchBox-input:focus {
  width: 250px;
  background-size: 35px;
}
li.singup-nav, li.login-nav {
    font-size: 36px;
    padding: 2px 8px;
    border-radius: 5px;
    color:white;
    box-shadow: 1px 1px 10px #ccc;
}
li.singup-nav {background-color: firebrick;}
li.login-nav {background-color: forestgreen;}

li.bar-items:hover:not(.none) {
	border-bottom:2px solid rgb(0,76,153);
	color: rgb(0,76,153);
}
.try-item:hover .nav-bar-items-bottom{
    display: none;
}

div.MainFlexBox {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 100%;
  background: rgba(242, 234, 234, 0.5);
}
main.mainContainer{
    display:flex;
    flex-flow: row wrap;
    width: 73%;
    order: 3;
    padding: 5px 15px;
    padding-bottom: 300px;
    flex-basis: auto;
    flex-grow: 1;
}
aside.asideContainer, aside.asideContainer2 {
  width:12%;
  min-height: 500px;
  background-color: #eef;
  margin:0;
  order:4;
  text-align: center;
  font-size: 16px;
}
aside.asideContainer2 {
  width: 10%;
  order: 2;
}
/**********
    Footer
***********/
footer.footerContainer {
    flex: 0 1 100%;
    min-height: 150px;
    padding-bottom: 50px;
    order:10;
    background:linear-gradient(#AEB6BF 10%, #eeedee 20%);
}
footer.footerContainer header.footerHeader {
    width: 100%;
    height: 50px;
    background-color: #222222;
    box-shadow: 0 -4px 3px #222222;
}
header.footerHeader ul {
    width: 100%;
    height: 50px;
    text-align: center;
}
header.footerHeader ul li {
    list-style: none;
    display: inline;
    margin: 0 8%;
    color: gold;
    padding: 10px 15px;
    font-size: 24px;
}
footer.footerContainer div.footerTable {
    display: flex;
}
footer.footerContainer ul.footerList {
    margin: 10px 50px;
    text-align: right;
    border-right: 6px solid lightblue;
    width: 30%;

}
ul.footerList li {
    font-size: 22px;
    padding: 15px 10px;
    margin-bottom: 10px;
    list-style: none;
    border-bottom: 2px solid goldenrod;
}
footer.footerContainer p.copyRight {
    margin-top: 30px;
    padding-left: 60px;
    direction: ltr;
    font-size: 18px;
}


article.widgets-container{ /*Container and the Father of all widgets!*/
	display: flex;
    width: 85px;
	flex-flow: column wrap;
	position: fixed;
	left: 0px;
	top: 10%;
    height: 90%;
    z-index: 4;
}
article.widgets-container * { /*Making all Widgets elements transition 0.5s!*/
    transition: 0.5s;

}
div.widget-account, div.widget-follow { /*General properties for widgets elements*/
    position: relative;
	max-width: 250px;
	max-height: 70px;
	background-color: rgb(255,99,71);
	border-radius: 5px 40px 40px 5px;
	margin-bottom: 50px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    Account Widget Properties
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
div.widget-account-container { /*The Account login System container*/
    display: block; /*Hide the Account widget*/
    position: relative;
    height: 250px;
    padding: 0px;
    z-index: 5;
}
div.widget-account{ /*The "finger" that slide out*/
    width: 250px;
    height: 70px;
    margin-bottom: 0%;
}
div.widget-account div.account-hole { /*White hole - account widget*/
	position: absolute;
	top: 8px;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border:2px solid rgb(255,120,88);
	background-color: #ffffff;
}
div.widget-account img.lockimg{ /*Lock icon - account widget*/
	position: absolute;
	top: 20px;
	right: -45px;
	width: 90px;
	height: 90px;
	transform:rotateZ(-45deg);
	z-index: 3;
}
div.widget-account-container form.account-form {
    transform: rotateX(90deg);
    width: 250px;
	padding:15px;
	padding-left: 15px;
	transform-origin: top;
    background-color: rgba(50,80,150,0.5);

}
form.account-form input{
    display: block;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 15px;
	width: 60%;
	box-shadow: none;
}
form.account-form button{
	width: 150px;
	padding:10px 5px;
	background-color:white;
	font-size:18px;
	color:black;
	cursor: pointer;
	border:2px solid orange;
	transition: 0.7s;
}
form.account-form button:hover{
	background-color: orange;
	color:white;
	font-size: 20px;
	border:3px solid orange;
}
div.widget-account-container:hover {
transform: translateX(150px);
}
div.widget-account-container:hover form.account-form {
    animation: flip 2s ease-in;
    transform: rotateX(0deg);
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    Profile Widget Properties
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
article.widgets-container div.dropdown{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 5px;
    text-align: center;
    border-radius: 19px;
    font-family: font_hebrew;
}
button.profileName {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 120px;
    padding: 0;
    margin: 0;
    background-color: rgba(64,111,198,0.2);
    border:1px solid #333f51;
}
.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
}
.dropdown-menu{
    min-width: 180px;
    left:8px;
    text-align: left;
    padding: 0;
}
.dropdown-header {
    text-align: right;
}
ul.widget-profile li {
    list-style: none;
    margin:8px 0;
    padding: 0;
    display: inline-block;

}
.dropdown-header {
    font-size: 18px;
}
ul.widget-profile li a i {
    font-size: 38px;
}
ul.widget-profile li a i:hover {
    filter: drop-shadow(1px 1px 1px lightblue -1px -1px 1px lightblue);
}
div.profileContainer:hover {
    transform: translateX(50px);
}


div.dropdown button.profile-avatar {
    width:70px;
    height: 70px;
    background: url('../../sourceimages/profile/avatars/graphic_guy_01.png');
    background-size: contain;
    border:2px solid black;
    background-color: white;
    border-radius: 50%;
}
div.dropdown button.profile-avatar:hover {
    border:2.2px solid lightblue;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    Follow Widget Properties
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

 /*Social networking for following*/
div.follow-facebook, div.follow-youtube{
    position: absolute;
    left: -100px;
	height: 50px;
    width: 150px;
    height: 50px;
}
div.follow-facebook {
    background-color: rgb(70,130,180);/*Blue background*/
    bottom: 20px;
}
div.follow-youtube
{
    background-color: rgb(128,0,0);/*red background*/
    bottom: -40px;
}
div.follow-facebook div.hole
{ background:url('../../sourceimages/icons/facebook2.png');
}
div.follow-youtube div.hole
{ background:url('../../sourceimages/icons/youtube2.png');}
div.widget-follow div.hole{
	height: 40px;
	width: 40px;
    margin: 5px 5px;
    border-radius: 50%;
	border:2px solid rgb(70,130,180);
	background-position: center;
	background-size: contain;
}
div.widget-follow:hover {
    transform: translateX(60%);
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    Other Properties
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

div.widget-up {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 150px;
    left: 0;
}
div.widget-up i {
    font-size: 52px;
    color: tomato;

}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    Animation Properties
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

@keyframes flip{
	0%{transform: rotateX(90deg);}
	45%{transform: rotateX(-45deg);}
	65%{transform: rotateX(10deg);}
	100%{transform: rotateX(0deg);}
}

div.background {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("../../sourceimages/wallpapers/wall_012.png");
    background-size: 100% 100%;
    background-position:center;
    z-index:-2;
}

@media screen and (max-width: 820px) {
  main.mainContainer {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  main.mainContainer {
    width: 100%;
  }
    h1.logo {
	font-size:58px;
}
    h1.logo i{
    font-size: 31px;
}
    nav.main-nav {
    font-weight: 900;
}
    nav.main-nav ul.nav-bar-items-bottom li{
    display: inline;
    margin-right: 25px;
    font-size: 22px;
}
    li.bar-items {
	margin-right:32px;
	font-size:22px;
	font-family:font_english;
}
    li.singup, li.login {
    font-size: 30px;
    padding: 1px 6px;
}
