/* line 8, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn.is-open ~ .description {
  opacity: 0;
}

/* line 12, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn {
  display: block;
  width: 100%;
  position: relative;
  width: 200px;
  height: 80px;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

/* line 24, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: #F44336;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 37, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-front:hover {
  background-color: #f77066;
}

/* line 42, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease;
}

/* line 51, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back p {
  font-size: 22px;
  margin-top: 27px;
  margin-bottom: 25px;
}

/* line 56, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back button {
  padding: 12px 20px;
  width: 30%;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.15s ease;
}

/* line 68, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back button:focus {
  outline: 0;
}

/* line 73, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back button.yes {
  background-color: #f22121;
  color: #fff;
}

/* line 76, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back button.yes:hover {
  background-color: #51adf6;
}

/* line 81, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back button.no {
  color: #2196F3;
}

/* line 83, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn .btn-back button.no:hover {
  background-color: #ddd;
}

/* line 89, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn[data-direction="left"] .btn-back,
.btn[data-direction="right"] .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}

/* line 94, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn.is-open {
  width: 400px;
  height: 160px;
}

/* line 98, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn.is-open .btn-front {
  pointer-events: none;
  line-height: 160px;
}

/* line 103, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

/* line 108, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn[data-direction="top"].is-open {
  transform: rotateX(180deg);
}

/* line 112, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn[data-direction="right"].is-open {
  transform: rotateY(180deg);
}

/* line 116, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}

/* line 120, ../../../../../../xampp/htdocs/PROJECT-ECHO/resources/css/theme_bright/more/button_confirm.scss */
.btn[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}
