div.wrapper-form {
    position: relative;
    margin: 0 auto;
    padding: 10px 0px;
    width: 60%;
    min-height: 600px;
    transform-style: preserve-3d;
  	transform: perspective(800px);
 .form-registered-container, .form-login-container {
      display: flex;
      flex-flow: row wrap;
      width: 80%;
      height: auto;
      margin:10px auto;
      padding: 15px;
      transition: 0.4s ease-out;
form {
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    transition: 0.5s;
span.form-title {
    display: block;
    font-size: 82px;
    color: white;
    font-family: font_hebrew;
    font-weight: 900;
    text-shadow: 0px 0px 2px black;
}
input {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    border: none;
    outline: 1px solid lightness(red);
    margin:10px auto;
    padding: 5px 15px;
    font-size: 24px;
    font-family: font_english, font_hebrew;
    direction: rtl;
 }
 .gender-container {
   text-align: right;
   display: flex;
   margin: 20px auto;
   div {
     width: 50%;
   }
   label span{
       font-size: 42px;
       text-shadow: 0 0 2px black;
       font-weight: 800;
       color: #3498DB;
   }
   input {
     position: relative;
     display: inline-block;
     width: 50px;
     float: right;
     margin:0px 20px;
     background: red;
     &:after {
       content: '';
       position: absolute;
       top: 0px;
       left: 0px;
       width: 100%;
       height: 100%;
       background: transparent;
       border-radius: 50%;
     }
     &:checked:after {
       background: hsl(180, 50%, 50%);
       box-shadow: inset 1px 1px 11px rgba(150,150,150,0.3), inset -1px -1px 11px rgba(150,150,150,0.3);
     }
   }
   .radio-female{
     label span{
       color: #EC7063;
     }
   input:checked:after {
     background: hsl(337, 100%, 78%);
     box-shadow: inset 1px 1px 11px rgba(150,150,150,0.3), inset -1px -1px 11px rgba(150,150,150,0.3);
   }
  }
  .radio-other{
    label span{
      color: #99A3A4;
    }
  input:checked:after {
    background: hsl(149, 48%, 48%);
    box-shadow: inset 1px 1px 11px rgba(150,150,150,0.3), inset -1px -1px 11px rgba(150,150,150,0.3);
  }
 }

}//Close Gender Container
 }//Close Form
footer {
  width: 100%;
  height: auto;
  padding: 15px;
  text-align: left;
  span {
    font-size: 24px;
  }
  span.button1 {
    padding: 15px;
    background: linear-gradient(-135deg, #f74c4c, #e38577);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 32px;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.23);
    &:active {
      transform: translateY(5px) rotateX(15deg);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
 }//Footer
}//Container
.form-login-container {
  display: none;
}
}
